# Python
__pycache__/
*.py[cod]
*.env
*.log

# Django
db.sqlite3
*.sqlite3
/staticfiles/
media/
local_settings.py

# VS Code
.vscode/

# Environment
.env
*.venv/
.venv/
env/
ENV/

# OS-specific
.DS_Store
Thumbs.db
